.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 500px;
}

.logo {
  font-size: 110px;
  color: navy;
}

.controller {
  display: block;
}

.simulation {
  position: relative;
  width: 480px;
  height: 320px;
  background: blue;
  border: 1px solid rgb(0, 0, 99);
  overflow: hidden;
  margin: 10px auto;
}

.turtle {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid lightblue;
  margin-left: -12px;
  margin-bottom: -12px;
  background: white;
}