.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 500px;
}

.logo {
  font-size: 110px;
  color: navy;
}

.controller {
  display: block;
}
